# Targets:
#	mcomp_tb
#	idct_tb_small
#	idct_tb
#	idct2d_fsm_tb
#	idct2d_tb
#	idct2d_tb_1b
#	dual_idct2d_tb
# Modify the following line to change testbench make target
TARGET=dual_idct2d_tb